body {
    background: #C7BBC9;
    margin: 100px;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    display: flex;
    justify-content: center;
}

.lights {
    display: flex;
    justify-content: space-between;
    /*align-items: flex-end;*/
}

.blue {
    background-color: #7FB4E0;
    width: 350px;
    height: 100px;
    margin-top: 50px;
    font-size: 0px;
}

.yellow {
    background: #ECEE25;
    width: 350px;
    height: 100px;
    margin-top: 50px;
    font-size: 0px;
}

.red {
    background: #ec7878;
    width: 350px;
    height: 100px;
    font-size: 0px;
}

.green {
    background: #82D5A0;
    width: 350px;
    height: 100px;
    font-size: 0px;
}

.midbutton {
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 5px;


}

.scoreboard {
    display: flex;
    justify-content: center;
    background: #F8F8FF;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    display: flex;
    flex-direction: row-reverse;
}

.active {
    opacity: 0.5;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
